.background {
    background-color: #040723;
}
input {
    width: 600px;
    height: 50px;
}

.to_do_form button[type="submit"] {
    margin-left: -50px;
}
input :focus {
    border: none;
}
.animated_text {
    animation: login 5s infinite;
}
@keyframes login {
    from {
        left: 30px;
    }
    to {
        right: 0px;
    }
}
